<section>
    <div class="section__1">
        <div class="logo"><h4>Q</h4></div>
        <h4>Quicktri</h4>
    </div>
    <div class="section__2">
        <h3>Forgot your password?</h3>
        <p>Enter the email on your account and we'll send you a reset link.</p>
    </div>
    <form [formGroup]="resetPasswordForm">
         <div class="field">
            <label for="email">Email <span>*</span></label>
            <div class="input">
                <input id="email" type="email" placeholder="eg. b_mkwanazi@icloud.com" formControlName="email">
            </div>
            @if (hasError('email', 'required')) {
                <p class="error">An email is required</p>
            }
            @if (hasError('email', 'email')) {
                <p class="error">Please enter a valid email</p>
            }
        </div>
        <button class="btn">Log in</button>
        <a class="log__in"> <ion-icon name="arrow-back-outline"></ion-icon> <span>Back to log in</span></a>
    </form>
</section>

